<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="navbar" class="navbar">
    <div class="navbar-container">
        <a href="/" class="navbar-logo">✈️ 항공권 예약</a>
        <div class="navbar-menu">
            <th:block th:if="${session.cno != null}">
                <a href="/members/my_page">마이 페이지</a>
                <a href="/members/logout">로그아웃</a>
            </th:block>
            <th:block th:unless="${session.cno != null}">
                <a href="/members/login">로그인</a>
            </th:block>
        </div>
    </div>
</nav>
</html> 
